<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <!-- Gazebo world args -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Task world args. These correspond to options in annotations.py -->

  <!-- OBJECT_NAME_OPTIONS -->
  <arg name="object_name" default="cube" />

  <!-- OBJECT_LOCATION_IDX -->
  <arg name="object_location" default="0" />

  <!-- PICKUP_DISTRACTION_OPTIONS | PLACE_DISTRACTION_OPTIONS -->
  <arg name="pickup_distractor" default="none" />
  <arg name="place_distractor" default="none" />

  <!-- Boolean Flags -->
  <arg name="door_blocked" default="false" />
  <arg name="door_block_invisible" default="false" />
  <arg name="base_stalled" default="false" />
  <arg name="hardware_failure" default="false" />

  <!-- Derived task zone -->
  <arg name="zone"
       value="$(arg object_name)_$(arg object_location)_$(arg pickup_distractor)_$(arg place_distractor)_$(arg door_blocked)_$(arg door_block_invisible)_$(arg base_stalled)_zone.sdf" />

  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find fetch_gazebo)/worlds/$(arg zone)"/>
  </include>

  <!-- Oh, you wanted a robot? -->
  <include file="$(find fetch_gazebo)/launch/include/fetch.launch.xml">
    <arg name="use_depth" value="true" unless="$(arg hardware_failure)" />
    <arg name="use_depth" value="false" if="$(arg hardware_failure)" />
  </include>

</launch>
