<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- TODO: With Melodic, we can probably use the latest SDF version -->
  <!-- Spawn the bowls to clutter the place up -->
  <node name="bowl1_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-sdf -x 3.80 -y 3.15 -z 0.83 -R 0 -P 0 -Y 0 -file $(env HOME)/.gazebo/models/bowl/model-1_4.sdf -model bowl1" />
  <node name="bowl2_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-sdf -x 4.05 -y 3.15 -z 0.83 -R 0 -P 0 -Y 0 -file $(env HOME)/.gazebo/models/bowl/model-1_4.sdf -model bowl2" />
  <node name="bowl3_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-sdf -x 3.80 -y 2.90 -z 0.83 -R 0 -P 0 -Y 0 -file $(env HOME)/.gazebo/models/bowl/model-1_4.sdf -model bowl3" />
  <node name="bowl4_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-sdf -x 4.05 -y 2.90 -z 0.83 -R 0 -P 0 -Y 0 -file $(env HOME)/.gazebo/models/bowl/model-1_4.sdf -model bowl4" />
</launch>
